header.header
    nav.nav.nav--tours
        a.nav__el(href='/') All tours
    .header__logo
        img(src='/img/logo-white.png' alt='Natours logo')
    nav.nav.nav--user
        if user
            a.nav__el.nav__el--logout Log out
            a.nav__el(href='/me')
                img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                //- We only want first name
                span= user.name.split(' ')[0]
        else
            //- user var-data is coming from authController isLoggedIN middleware
            a.nav__el(href='/login') Log in
            //- Sign up, we won't implement but very similar to loggin in
            a.nav__el.nav__el--cta(href='/register') Sign up

